# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (worker)
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# React build
frontend/build/

# Env & secrets
.env

# Docker
*.pid
*.log
*.sock
postgres_data/
redis_data/
rabbitmq_data/

# VSCode and system files
.vscode/
.DS_Store